/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 
/* common styles */
body{
    
font-family: 'Poppins', sans-serif;
background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-bottom: 29px;
}
.container{
   background-color: #FFFFFF;
   width: 870px;
   padding: 30px;
   margin-top: 19px;
   border-radius: 5px;
}
.section-title{
    color: #562EFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 3px;
}

.players{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-row-gap:30px;

}
.player{
    display: flex;
    align-items: center;
    
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* top blogs part's design started */
.articles{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-row-gap:30px;

}
.blog-item{
    display: flex;
}
.blog-image img{
    width: 177px;
    height: 117px;
}
.blog-details{
    margin-left: 16px;
}
.blog-details h3{
    font: 20px;
}
.blog-details p{
    color: #9F9F9F;
}
.blog-details a{
    text-decoration: none;
    size: 16px;
}

/* ............................
course section design started
..............................*/
.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;

}
.courses .course{
    width: 252.42px;
    height: 269.79px;
}
.course-thumbnail img{
    width: 224px;
    height: 104px;

}
.course-title h3{
    font-size: 20.0336px;
    color: #1E1E1E;
}
.course-title a{
    text-decoration: none;
    color: #ED6B4F;
    font-size: 14.6913px;
}
.course-time-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fas.fa-star.rated{
    color: #FFC014;
}
.fas.fa-star.empty{
    color:#AEAEAE;
}

.far.fa-clock{
    background-color: #FEE5DF;
    color:#FF4A60;
    border-radius: 10px;
    padding: 5px;
}
/* media query */
/* mobile devices */
@media only screen and (max-width:688px) {
    main{
        overflow-x: hidden;
    }
    .container{
        width: 100%;
    
    }
    .players, .articles, .courses{
        
        grid-template-columns: repeat(1 ,1fr);
        
    }
    .player{
        flex-direction: column;
        
    }
    .courses .course{
        width:100%
    }
   
    
    
}
@media only screen and (min-width:689px) and (max-width:991px) {
    /* main{
        overflow-x: hidden;
    } */
    .container{
        width: 100%;
    
    }
    .players{
        
        grid-template-columns: repeat(2 ,1fr);
        
    }
    /* .player{
        flex-direction: column;
        
    } */
    .courses .course{
        width:100%
    }
   
    
    
}

